

body {
    text-align: center;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 300;
    margin:0;
}

#avatar-img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #FFF;
}

#container {
    width:570px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    
}

h1{
    font-size: 70px;
    font-weight: lighter;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0;
    /* border: 2px solid orange; */
}

h2 {
    font-size: 60px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;

    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;

}

h3 {
    font-size: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#small-txt {
    font-size: 16px;
}

.bold-txt{
    font-weight: bold;
    display: block;
    color:#99D930
}

a {
    color: #99D930;
}

a:hover {
    color: #131313;
}

header, .articles {
    background-color: #252525;
    color:#FFF;
}

.about-me {
    background-color: #FFF;
    color:#131313;
}


header, .about-me, .articles {
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    font-size: large;
    font-weight: bold;
    padding:14px 14px 14px 14px;
    border:none;
    background-color: #99D930;
    margin-bottom: 30px;

}

button:hover{
    background-color: #252525;
    color: #FFF;
    border: 2px solid #FFF;
}

.articles {
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

p {
    text-align: justify;
}